<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.user.model.mysql.dao.base.UserMapper">
  <resultMap id="BaseResultMap" type="com.easy.user.model.mysql.po.base.User">
    <id column="clientId" jdbcType="BIGINT" property="clientId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="mobile_status" jdbcType="VARCHAR" property="mobileStatus" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="email_status" jdbcType="VARCHAR" property="emailStatus" />
    <result column="real_name_status" jdbcType="VARCHAR" property="realNameStatus" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="user_status" jdbcType="VARCHAR" property="userStatus" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="head_picture_url" jdbcType="VARCHAR" property="headPictureUrl" />
    <result column="sign_up_mode" jdbcType="VARCHAR" property="signUpMode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    clientId, mobile, mobile_status, email, email_status, real_name_status, password, user_status,
    nick_name, head_picture_url, sign_up_mode, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where clientId = #{clientId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user
    where clientId = #{clientId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.easy.user.model.mysql.po.base.User">
    insert into t_user (clientId, mobile, mobile_status,
      email, email_status, real_name_status, 
      password, user_status, nick_name, 
      head_picture_url, sign_up_mode, create_time, 
      update_time)
    values (#{clientId,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, #{mobileStatus,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{emailStatus,jdbcType=VARCHAR}, #{realNameStatus,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{userStatus,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{headPictureUrl,jdbcType=VARCHAR}, #{signUpMode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.easy.user.model.mysql.po.base.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clientId != null">
        clientId,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="mobileStatus != null">
        mobile_status,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="emailStatus != null">
        email_status,
      </if>
      <if test="realNameStatus != null">
        real_name_status,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="userStatus != null">
        user_status,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="headPictureUrl != null">
        head_picture_url,
      </if>
      <if test="signUpMode != null">
        sign_up_mode,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clientId != null">
        #{clientId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="mobileStatus != null">
        #{mobileStatus,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="emailStatus != null">
        #{emailStatus,jdbcType=VARCHAR},
      </if>
      <if test="realNameStatus != null">
        #{realNameStatus,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null">
        #{userStatus,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headPictureUrl != null">
        #{headPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="signUpMode != null">
        #{signUpMode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.easy.user.model.mysql.po.base.User">
    update t_user
    <set>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="mobileStatus != null">
        mobile_status = #{mobileStatus,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="emailStatus != null">
        email_status = #{emailStatus,jdbcType=VARCHAR},
      </if>
      <if test="realNameStatus != null">
        real_name_status = #{realNameStatus,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null">
        user_status = #{userStatus,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headPictureUrl != null">
        head_picture_url = #{headPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="signUpMode != null">
        sign_up_mode = #{signUpMode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where clientId = #{clientId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.easy.user.model.mysql.po.base.User">
    update t_user
    set mobile = #{mobile,jdbcType=VARCHAR},
      mobile_status = #{mobileStatus,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      email_status = #{emailStatus,jdbcType=VARCHAR},
      real_name_status = #{realNameStatus,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      user_status = #{userStatus,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      head_picture_url = #{headPictureUrl,jdbcType=VARCHAR},
      sign_up_mode = #{signUpMode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where clientId = #{clientId,jdbcType=BIGINT}
  </update>
</mapper>